<ul class="main-navigation">
  <% menu.forEach(function (item) { %>
  <li>
    <a class="btn btn-dark <% if (item.active) { %>active<% } %>" href="/<%= item.link %>"><%= item.title %></a>
  </li>
  <% }); %>
</ul>

<fieldset class="mobile-nav">
  <select>
    <option value="">Menu…</option>
    <% menu.forEach(function (item) { %>
    <option value="/<%= item.link %>">» <%= item.title %></option>
    <% }); %>
  </select>
</fieldset>
