<footer>
  <p>
    <% if (github) { %>
    <a href="http://github.com/<%= github %>" class="btn btn-dark">GitHub</a>
    <% } %>

    <% if (linkedin) { %>
    <a href="http://www.linkedin.com/in/<%= linkedin %>" class="btn btn-dark">LinkedIn</a>
    <% } %>
  </p>
</footer>
