<section class="android-me-section mdl-typography--text-center">
  <h2 class="android-font android-slogan">404</h2>
  <p class="android-sub-slogan">A página que você estava procurando não foi encontrada</p>
</section>

