<div class="blog-index">
  <h1>
    <strong><%= name %></strong>
  </h1>

  <img src="<%= base %>assets/img/talks.jpg" alt="<%= name %>">

  <p>Tenho <%= year - startedAt %> anos de experiência em desenvolvimento. Sou do Rio de Janeiro, vivo em São Paulo e trabalho como Consultor de Sistemas e Negócios no Centro de Inovação da <a href="http://centrodeinovacaobrasil.com">Telefonica VIVO</a> em projetos de "Internet of Things" e "Smart Cities".</p>
</div>
