<div class="blog-index">
  <h1>
    <strong><%= name %></strong>
  </h1>

  <img src="<%= base %>assets/img/talks.jpg" alt="<%= name %>">

  <p>Tenho 10 anos de experiência em desenvolvimento. Sou do Rio de Janeiro, vivo em São Paulo e trabalho como Consultor de Sistemas e Negócios no Centro de Inovação da <a href="http://centrodeinovacaobrasil.com">Telefonica VIVO</a>.</p>
  <p>Trabalho com <strong>NodeJS</strong>, <strong>JavaScript</strong>, <strong>HTML5/CSS3</strong>, <strong>Python</strong>, <strong>GO</strong>, <strong>Arduino</strong> entre outras linguagens.</p>
</div>
