<header>
  <h1 class="entry-title">Projetos</h1>
</header>

<h2>Meus repositórios GitHub (open source)</h2>
<p>
  Veja mais em <a href="http://github.com/<%= github %>">http://github.com/<%= github %></a>
</p>

<ul id="gh_repos">
  <li class="loading">Atualizando...</li>
</ul>

<script>
  $(document).ready(function () {
    github.showRepos({
      user      : '<%= github %>',
      count     : 0,
      skip_forks: true,
      target    : '#gh_repos'
    });
  });
</script>

<script src="<%= base %>assets/js/github.js"></script>
