<a name="top"></a>

<section class="android-blog-section">
  <h2 class="mdl-typography--display-1-color-contrast">Meus projetos open source - GitHub</h2>
  <p>Veja mais em <a href="http://github.com/<%= github %>">http://github.com/<%= github %></a></p>

  <ul>
    <li class="loading">Atualizando...</li>
  </ul>
</section>
